{{ define "main" }}
<!-- <h1>{{ .Title }}</h1> -->

{{ .Content }}

<ul class="blog-list">
  {{ range .Pages }}
    <li class="blog-list__item">
      <a href="{{ .Permalink }}" class="blog-list__link">
        <h3 class="blog-list__title">{{ .Title }}</h3>
        <span class="blog-list__meta">
          {{ with .Params.author }}
            <span class="blog-list__meta-item">
              by <span class="blog-list__name">{{ . }}</span>
            </span>
          {{ end }}
          {{ with .Date }}
            <span class="blog-list__meta-item">
              <time datetime="{{ .Format "2006-01-02" }}">
                {{ .Format "2 Jan 2006" }}
              </time>
            </span>
          {{ end }}
        </span>
      </a>
    </li>
  {{ end }}
</ul>
{{ end }}
