:root {
    --font-serif:
        et-book, Palatino, "Palatino Linotype", "Palatino LT STD",
        "Book Antiqua", Georgia, serif;
    --font-num:
        et-book-num, et-book, Palatino, "Palatino Linotype", "Palatino LT STD",
        "Book Antiqua", Georgia, serif;
    --font-mono: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

h1 {
    font-weight: 400;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-size: 3.2rem;
    line-height: 1;
}

h2 {
    font-style: italic;
    font-weight: 400;
    margin-top: 2.1rem;
    margin-bottom: 1.4rem;
    font-size: 2.2rem;
    line-height: 1;
}

h3 {
    font-style: italic;
    font-weight: 400;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 1.4rem;
    line-height: 1;
}

p,
dl,
ol,
ul,
summary {
    font-size: 1.4rem;
    line-height: 2rem;
}

p {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding-right: 0;
    vertical-align: baseline;
}

dt:not(:first-child),
li:not(:first-child) {
    margin-top: 0.25rem;
}

a:link,
a:visited {
    color: inherit;
    text-underline-offset: 0.1em;
    text-decoration-thickness: 0.05em;
}

hr {
    display: block;
    height: 1px;
    width: var(--section-width);
    border: 0;
    border-top: 1px solid var(--hr);
    margin: 1em 0;
    padding: 0;
}

pre {
    overflow-x: scroll;
    font-size: 1.1rem;
}

code {
    font-family: var(--font-mono);
}

p > code,
p > a > code,
li > code,
li > a > code {
    font-size: 1.2rem;
}

.sans > code {
    font-size: 1.2rem;
}

h1 > code,
h2 > code,
h3 > code {
    font-size: 0.8em;
}

.highlight {
    overflow-x: auto;
    border-radius: 0.5rem;
}

.highlight > pre {
    width: 100%;
    margin: 0;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

blockquote {
    font-size: 1.4rem;
    margin: 1.4rem 2.6rem;
}

blockquote p {
    width: var(--section-width);
    margin-right: 40px;
}

blockquote footer,
.quotecite {
    width: var(--section-width);
    font-size: 1.1rem;
    text-align: right;
}

.epigraph {
    margin: 5em 0;
}

.epigraph > blockquote {
    margin-top: 3em;
    margin-bottom: 3em;
}

.epigraph > blockquote,
.epigraph > blockquote > p,
blockquote > .epigraph {
    font-style: italic;
}

.epigraph > blockquote > footer {
    font-style: normal;
}

.epigraph > blockquote > footer > cite {
    font-style: italic;
}

figure {
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    max-width: var(--section-width);
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0 0 3em 0;
}

figcaption {
    float: right;
    clear: right;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.6;
    vertical-align: baseline;
    position: relative;
    max-width: 50%;
}

figure.fullwidth figcaption {
    margin-right: 24%;
}

img,
video {
    max-width: 100%;
}

img,
pre,
video {
    border-radius: 0.5rem;
}

img.responsive {
    width: auto;
    height: auto;
}

table {
    width: 100%;
    display: block;
    overflow-x: auto;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1.2rem;
}

table th,
table td {
    padding: 0.7rem 0.85rem;
    vertical-align: top;
}

table th {
    text-align: left;
    font-style: italic;
    border-bottom: 2px solid #3c3c3c;
}

table.fullwidth,
.fullwidth + table {
    width: 100%;
}

.table-wrapper {
    overflow-x: auto;
    font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif;
}

details {
    margin-block: 0.5rem;
    border: 1px solid var(--details-border);
    border-radius: 0.5rem;
    padding: 0.3rem 1rem;
}

details summary {
    user-select: none;
}

.subtitle {
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    display: block;
    line-height: 1;
}

.numeral {
    font-family: var(--font-num);
}

.danger {
    color: red;
}

.newthought {
    font-variant: small-caps;
    font-size: 1.2em;
}

.sans {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    letter-spacing: 0.03em;
}

.katex-display {
    overflow-x: scroll;
}

.iframe-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
