<header class="header">
    <div class="header__container">
        <div class="header__inner">
            <a href="{{ "/" | relURL }}" class="header__brand">skdishansachin</a>
            <nav class="nav">
                <a href="{{ "/" | relURL }}" class="nav__link">home</a>
                <a href="https://codeberg.org/skdishansachin" class="nav__link">codeberg</a>
                <a href="https://github.com/skdishansachin" class="nav__link">github</a>
                <a href="#" class="nav__link theme-toggle">dark</a>
            </nav>
        </div>
    </div>
</header>
