{{ define "main" }}
<div class="posts-list">
    {{ range .Paginator.Pages }}
        {{ if not .Params.series }}
        <a href="{{ .RelPermalink }}" class="posts-list__item">
            <span class="posts-list__title">{{ .Title }}</span>
            <b class="posts-list__date">{{ .Date.Format "Jan 02 2006" }}</b>
        </a>
        {{ end }}
    {{ end }}
    {{ range .Site.Taxonomies.series }}
    <a href="{{ .Page.RelPermalink }}" class="posts-list__item">
        <span class="posts-list__title">{{ .Page.Title }}</span>
        <b class="posts-list__date">{{ len .Pages }} articles</b>
    </a>
    {{ end }}
</div>
{{ end }}
